.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    z-index: 15;
}

.infected {
    border-bottom: 10px solid #1c73e8
}

.recovered {
    border-bottom: 10px solid #178037
}
.deaths {
    border-bottom: 10px solid #d93025
}

@media (max-width: 770px){
    .card {
        margin: 2% 0 !important;
    }   
}