body {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: columns; */
}

.image {
    width: 30%;
    margin-top: 2%;
}

/* mobile and tablets */
@media (max-width: 770px){
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }
}